body{
  background-color: #e0dfdf;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: repeat;
  font-family: 'Droid Sans',Arial,Verdana,sans-serif;
	}

/*-----------Cabecera ocultable--------------*/
.headroom{  
    transition: transform .3s ease;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-87%);
} 
/*----------------------------------------*/

.contenedor{

    margin:0 auto;
    background-color: #e0dfdf;
    padding-left: 10%;
    padding-top:125px; 
    width: 91%;
    }

.alerta{
  height: 10%;
  width: 40%;
  text-align: center;
  padding-top: 10px;
  position: fixed;
  border-radius: 20px;
  z-index: 11;
  color: white;
  border: 3px solid  #C71609;
  background-color: rgba(255,0,0,0.3);
  margin-left: 28%;
  margin-top: 130px;
}
header{
  position: fixed;
  top: 0;
}

/*------------NAVEGADOR-------------*/
.cabecera{
    z-index: 9;
    width: 102%;
    height: 130px;
    margin: -10px 0px 0px -10px;
    position: fixed;
    background-color: #1d1d1d;
    text-align: left;
    padding-top: 10px;
    border-bottom: 5px solid #C71609;
}

 .cabecera .logogrande{
  background-image: url('../images/imghead.gif' );
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 430px;
  float:left;
  margin-right: 0px;
 margin-left: 30%;
 margin-top: 20px;
 height: 110px;
 z-index: 10;
}
.cabecera .logogrande:hover{
  background-image: url('../images/imgheadmov.gif' );
  
  }
.cabecera .logo{
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100px;
background-image: url('../images/imghead1.gif' );
background-position: center;
 display: none;
 margin-left: 30%;
 margin-top: 20px;
 height: 110px;
 z-index: 10;
}


.btn-menu{  
  z-index: 11;

 display: none; 
 color: white;
 text-decoration: none;
 margin-top: -20px;

}

.circulo {
    word-wrap: break-word;
    overflow: hidden;
     padding-left: 10px;
     font-size: 40px;
     width: 40px;
     height: 40px;
     color: black;
     margin-left: 10px;
     display: inline-block;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 20%;
     background: white;
     border: 3px solid #C71609; 
     margin-left: 12%;
     margin-top: 0px;
     margin-bottom: -20px;
}

.registrado:hover {
  text-align: center;
  font-size: auto;

  width: 180px;
  margin-left: -50px;
  background: #1d1d1d;
  color:white;
  border-radius: 0.5%;
  -webkit-transition: background-color 1s;
  -webkit-transition: color 1s;
  
    }

.usuario{
 
  color: rgba(0,0,0,0);
  width: 170px;
  height: 50px;
  text-align: left;
  float:right; 
  margin:45px 50px 0px 0px;
}

.usuario a.usu{
  
    color: white;
    font-size: 20px;
    text-decoration: none; 
}
.usuario a.usu:hover{
    color: #C71609;
      -webkit-transition: color 0.5s;

}



.enlaces{
  z-index: 0;
  background-color: #1d1d1d;
  text-align: center;
  color: #E8E6E3;
  font-family: 'Droid Sans',Arial,Verdana,sans-serif;
  font-size: 13px;
  position: fixed; 
  margin-left: -10px;
  height: 2000px;
  width: 100px;
  padding:0px 0px 0px 0px;
  left: 0;
  margin-top: 135px;
  display: flex;
  flex-direction: column;
}
.enlaces a {
    font-size: 16px;
    list-style: none;
    height: 30px;
  	padding: 30px 10px 16px 20px;
  	text-decoration: none;
    color: white;
	 margin-top: 0px;
   -webkit-transition: background-color 1s;
}
.enlaces .sel{

    background-color:#C71609;
}
 .enlaces a i{
    margin-left: -10px;
    margin-top: -10px;
   font-size: 3em;
}
 .enlaces :hover{
   
  	background-color: #C71609;

}


/*-------------------------------*/

.contenido{
  
  padding: 20px 0px 20px 0px;
  min-height: 650px;
  max-width: 2000px;

  
  }
.imagent{
 
  margin-left: -150px;
  margin-bottom: 20px;

  background-size: auto 100%;
  background-position: center;

  background-repeat:no-repeat;
  min-height: 300px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
  
}

 .textosuperpuesto{
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  margin-left: 0;
  z-index: 9;
  vertical-align: center;
  color: white;
  font-size: 40px;
  text-shadow:5px 5px 5px #000000;
  height: 300px;
}


  .titulopag{
    margin: 30px 0px 20px 10px;
    font-size: 50px;
    color: #1d1d1d;
    font-weight: bold;
    border-bottom: 2px solid #1d1d1d;

  }
  .botones3pag {
    display: inline-block;
    
    
    color: white;
    margin: -30px 2% 2px 2%;
    background-color: #C71609;
    padding: 5px 15px;
    width: 145px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 

  }
 .botones3pag:hover{
  box-shadow: 0 6px 10px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
  transition: all 0.3s;
  transform: translateZ(10px);
  transform:  scale(0.950);
  -webkit-transform:  scale(0.950);
  -moz-transform: scale(0.950);
  -o-transform: scale(0.950) ;
  -ms-transform: scale(0.950)  ;
}
/*--------NOTICIAS-------------*/
.noticias{
	display: inline-block;
	width: 91%;
	margin-left: 0px;
	vertical-align: top;
  min-height: 700px;
  
}
.noticia{
  display: inline;
  float: left;
	background-color: white;
  width: 45%;
  min-height: 225px;
  padding: 10px 0px 20px 20px;
	margin: 0px 0px 20px 10px;
  border-bottom: 3px solid #C71609;
  border-radius: 0px 0px 20px 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.formulario{
  display: inline;
  float: left;
  background-color: white;
  width: 50%;
  min-height: 225px;
  padding: 10px 0px 20px 20px;
  margin: 0px 0px 20px 10px;
  border-bottom: 3px solid #C71609;
  border-radius: 0px 0px 20px 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.noticiamini{
  display: inline;
  float: left;
  background-color: white;
  padding: 10px 20px 20px 20px;
  margin: 0px 0px 20px 10px;
  border-bottom: 3px solid #C71609;
  border-radius: 0px 0px 20px 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

 .noticia .titulo{
  background-color: #C71609;
  color: white;
  padding: 5px;
}
.formulario input,textarea{
  width: 80%;
  margin: 10px 0px 10px 10px;
  padding: 10px;
}
.formulario textarea{
  height: 200px;
}
.formulario input[type=submit]{
  background-color: #C71609;
  color: white;
  width: 85%;
}

  

/*---------Checbox prueba--------*/
.custom-checkbox {

  margin: 5px 0px 0px 13px;
  width: 65px;
  height: 35px;
  overflow: hidden;
  border-radius: 20px;
  border:2px solid #DDDDDD;
}

.custom-checkbox-label {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  
  background-color: #DDDDDD;
  transition: background-color .3s;
  -o-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -webkit-transition: background-color .3s;
}

.custom-checkbox-label-aux {
  top: 3px;
  left: 4px;
  width: 28px;
  height: 28px;
  display: block;
  position: absolute;
  border-radius: 100%;
  transition: left .3s;
  -o-transition: left .3s;
  background-color: white;
  -moz-transition: left .3s;
  -webkit-transition: left .3s;
  box-shadow: 0px 1px 5px 0px rgba(56,55,56,0.61);
  -moz-box-shadow: 0px 1px 5px 0px rgba(56,55,56,0.61);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(56,55,56,0.61);
}

.custom-checkbox-input:checked + .custom-checkbox-label {
  background-color: #C71609;
}

.custom-checkbox-input:checked + .custom-checkbox-label .custom-checkbox-label-aux {
  left: 33px;
}

.custom-checkbox-input {
  display: none;
}

/*-------------------------------*/
 .noticia .subtitulo {
  background-color: #1D1D1D;
  font-size: 15px;
  margin-top: 5px;
  color: white;
  padding: 3px 0px 3px 40px;
}
.fecha{
  color: white;
}
.noticia img{
  float: left;
  border:1px solid grey;
  margin:10px 15px 20px 0px;
  display: block;
  width: 150px;
  min-height: 150px;

}
.noticia .cuerpo{
 
  padding: 30px 20px 20px 15px;
  margin-left: 10px;
  font-size: 15px;
}
.noticia .boton{
  text-align: center;
  float: right;
  margin: -10px 20px 0px 0px;
  background-color: #C71609;
  color: white;
  font-size: 12px;
  padding: 5px;
  width: 90px;
}

.imnoticias{
  height: 100px;
  width: 100px;
  margin-left: 20px;
  margin-right: -10px;
  border:1px solid black;
  align-self: center;
}


.noticias .tablasgeneral table{     
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;    
  margin: 0px 10px 20px 10px;     
  width: 90%; 
  text-align: left;    
  border-collapse: collapse; 
  clear: both;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  text-align: center;
}
.noticias .tablasgeneral th{
  font-size: 14px;
  text-align: center;
  padding: 15px;     
  background: #C71609;     
  border-bottom: 1px solid #fff;
  color: white;    
  border-top: 1px solid transparent; 
}

.noticias .tablasgeneral td {    
  
  padding: 10px 0px;     
  text-align: center;
  background: white;     
  border-bottom: 1px solid black;
  color: black;    
  border-top: 1px solid transparent; }

.noticias .tablasgeneral a td {    
  text-decoration: none;
  color: black;
  font-weight: bold;}   

.noticias .tablasgeneral th a{    
  text-decoration: none;
  color: white;
  font-weight: bold;} 
  

.noticias .tablasgeneral tr:hover td { 
  background: #f57e72; 
  color: white; 
  }

.noticias .selfecha {   
display: inline-block;
padding-left: 0px;
vertical-align: top;
      
  margin: 5px 10px 20px 0px;
  width: 370px;
       
   }
.selfecha input {    
  padding: 5px 5px;     
  width: 100px;
  height: 25px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
  border: 1px solid transparent;
  color: white; 
  background-color: #C71609; 
  border-radius: 5px;  

   }

.selfecha input:hover {    
 box-shadow: 0 6px 10px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
  transition: all 0.3s;
  transform: translateZ(10px);
  transform:  scale(0.950);
  -webkit-transform:  scale(0.950);
  -moz-transform: scale(0.950);
  -o-transform: scale(0.950) ;
  -ms-transform: scale(0.950)  ;

}
.noticias .selfecha select {
  width: 110px;
  margin: 0px 10px 0px 5px;
   height: 25px;
  background-color: white;
  background-repeat: no-repeat;
}
.noticias .tablacal{  
float:left;
margin-left: 20px;
width: 460px;

margin-bottom: 20px;
 
 } 

.noticias .tablacal table{    

  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;    
  width: 450px; 
  text-align: left;    
  border-collapse: collapse; 
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  clear: both;
  border:2px solid  #e0dfdf;
  
}
.noticias .tablacal td.eve {
  background-color: #f57e72;
}  
.noticias .tablacal td a {
  text-decoration: none;
  color: white;
  
}  
.noticias .tablacal th{
  font-size: 14px;
  padding: 15px;     
  background: #C71609;     
  
  color: white;    
}
.noticias .tablacal th a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  
}  
.noticias .tablacal td {    
  padding: 10px 5px;     
  text-align: center;
  background: white;     
  border: 1px solid #BBBBBB;
  color: black;  
  width: auto;  
   }

.pagina{
  width: 93%;
  min-height: 25px;
  padding: 0px 0px 20px 0px;
  border-top: 2px solid #1d1d1d;
}

.pagina ul{
margin-left: 35%;
margin-top: -2px;

}
.pagina li{
  display: block;
  float: left;
  
  font-size: 20px;
  list-style: none;
  padding:5px 10px 5px 10px;
  text-decoration: none;
  color: black;
  
}
.pagina li.sel{
  color:white;
  background-color: #1d1d1d;
}



footer{
	margin-left: 0px;
	width: 100%;
  
  


}

footer .estilo1{

	border-top: 5px solid  #C71609;
	background-color:#292929;
	width: 101%;
	padding:20px 0px 40px 0px;
	float: left;
  
}

footer .estilo2{
	color: #BBC1C1;
  width: 91%;
	font-size: 12px;
	background-color:#1d1d1d;
	padding:10px 0px 10px 10%;
	float: left;
	
}
footer .redes{
	margin-right: 20%;
	margin-top: -30px;
  
	
}
footer input{
	background-color: #4D4D4D; 
	border-radius: 10px;
	width: 200px;
	margin-left: 10%;
}

footer div ul li {
	text-decoration-style: none;
	color:  #BBC1C1;
	display: block;
	padding: 5px 10px 0px 10px;
	float: right;
}

.yo{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 11;
  background-image: url('../images/munequito.png');
  background-repeat: no-repeat;
  margin-left: 20%;
}

/* -- Version para tablets --*/
@media screen and (max-width: 931px){
  .enlaces{
  flex-direction: row;
  justify-content: space-around;
  height: 75px;
  width: 102%;
  }
.cabecera .btn-menu{
 display: inline-block;
 width: 30px;
  margin:-50px 0px 0px 130px;
 font-size: 3em;
  }

  .textosuperpuesto{

 padding-top: 40px;
  font-size: 30px;
  

}
  .cabecera .logogrande{
  margin-left: 10px;
  height: 100px;
  width: 390px;
  }
  
  footer .redes{
  display:none;
}

.botones3pag {
  width: 20%;
  margin-left: 2px;

  }

.noticia{

  width: 90%;
}
.formulario{width: 90%}

  .contenedor{
   padding-left: 5px;
   width: 110%;
   margin-left: -10px;

  }
  .registrado:hover{
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 12px;
  padding-left: -20px;
  }



}
/* -- Version para móviles (en desarrollo)--*/
@media screen and (max-width: 628px){
 .enlaces{
  flex-direction: row;
  justify-content: space-around;
  width: 102%;
  margin-top: 0px;
  }

table{
  zoom:75%;
}
   .cabecera .logo{
 display: inline-block;
 margin-left: 5%;
 margin-top: 20px;
 height: 110px;}
  
.cabecera .logogrande{
 display: none;
  }

  .textosuperpuesto{
    padding-left: 20%;
    font-size: 20px;
  }
}
.noticias .tablacal{  
float:left;
margin-left: 5px;
width: 90%;

margin-bottom: 20px;
 
 } 



.botones3pag {
  width: 16%;
  margin-left: 1px;
  padding: 5px 20px 5px 20px;
  }


.noticias .tablacal{  
float:left;
margin-left: 20px;
width: 460px;

margin-bottom: 20px;
 
 } 


